body {
    margin: 10px;
    padding: 20px;
}

.card{
    background-color: blue;
    padding: 20px;
    border-radius: 10px;
}

h1{
    text-align: center;
    color: white;
}

#formTodo{
    display: flex;
    gap: 10px;
}

#inpuTask{
    flex: 3;
    padding: 10px;
    border: none;
    border-radius: 4px;
}

#inpuDate {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 4px;
}

input{
    flex: 1;
}

h3{
    text-align: center;
    color: white;
}

#btnTambahTodo{
    background-color: green;
    border: none;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
    text-align: left;
}